
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex-box">
    <form class="sign-up-in-form" id="loginForm" name="loginForm" #loginForm="ngForm" (ngSubmit)="login()"> 
      
      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="stacked"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          name="email"
          type="email"
          [(ngModel)]="user.email"
          #userEmail="ngModel"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Password"
          labelPlacement="stacked"
          required
          minlength="6"
          name="password"
          type="password"
          [(ngModel)]="user.password"
          #userPassword="ngModel"
        ><ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
        
      </ion-item>
      @if (usersService.errmsg !== '') {
        <ion-text class="ml-1 mt-0-5" color="danger">{{ usersService.errmsg }}</ion-text>
      }
      <ion-buttons class="btns">
        <ion-button [disabled]="!loginForm.valid" type="submit">Login</ion-button>
        <ion-button (click)="guestLogin()">Guest Login</ion-button>
      </ion-buttons>
    </form>
    <div class="sign-up">
      <h4>Not a Splitter user?</h4>
      <ion-button class="sign-up-btn" routerLink="/register">Sign up</ion-button>
    </div>
  </div>
  

</ion-content>
   

