
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex-box">
    <form id="loginForm" name="loginForm" #loginForm="ngForm" (ngSubmit)="login()"> 
      
      <ion-item>
        <ion-input
          placeholder="enter email..."
          label="Email"
          labelPlacement="stacked"
          required
          name="email"
          type="email"
          [(ngModel)]="user.email"
          #userEmail="ngModel"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="enter password..."
          label="Password"
          labelPlacement="stacked"
          required
          name="password"
          type="password"
          [(ngModel)]="user.password"
          #userPassword="ngModel"
        ></ion-input>
      </ion-item>
      <ion-buttons class="btns">
        <ion-button type="submit">Login</ion-button>
        <ion-button (click)="guestLogin()">Guest Login</ion-button>
      </ion-buttons>
    </form>
    <div class="sign-up">
      <h4>Not a Splitter user?</h4>
      <ion-button class="sign-up-btn" routerLink="/register">Sign up</ion-button>
    </div>
  </div>
  

</ion-content>
   

