.btns {
    justify-content: center;
    margin-top: 1rem;
}

.flex-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sign-up{
    display: flex;
    justify-content: space-between;
}

