<ion-app>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Splitter App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="flex-box">
        <ion-list>
          <ion-item>
            <ion-menu-toggle routerLink="home">Home</ion-menu-toggle>
          </ion-item>
          <ion-item>
            <ion-menu-toggle routerLink="profile">Profile</ion-menu-toggle>
          </ion-item>
          <ion-item>
            <ion-menu-toggle routerLink="about">About</ion-menu-toggle>
          </ion-item>
        </ion-list>
        <div class="profile">
          <span>{{currentUser}}</span>
          <ion-menu-toggle (click)="usersService.logout()">Logout</ion-menu-toggle>
        </div>
      </div>

    </ion-content>
  </ion-menu>


  <div class="ion-page">

    <ion-content id="main-content" class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
      <ion-toast [isOpen]="uiService.showToast" [message]="uiService.toastMessage" [duration]="5000"
        (didDismiss)="uiService.setOpen(false)"></ion-toast>
    </ion-content>
  </div>

</ion-app>