<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="sign-up-in-form" id="registerForm" name="registerForm" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <ion-item>
      <ion-input label="Name" labelPlacement="stacked" type="text"  [(ngModel)]="user.name"
        #registerName="ngModel" name="registerName" required minlength="4"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  label="Email" labelPlacement="stacked" required name="userEmail"
        type="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" [(ngModel)]="user.email" #userEmail="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  label="Password" labelPlacement="stacked" required name="userPassword"
        type="password" [(ngModel)]="user.password" #userPassword="ngModel">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
    </ion-item>
    @if (usersService.errmsg !== '') {
      <ion-text class="ml-1 mt-0-5" color="danger">{{ usersService.errmsg }}</ion-text>
    }
      <ion-button [disabled]="!registerForm.valid" class="submit-btn" type="submit">Sign up</ion-button>
  </form>



</ion-content>