<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="triggerCloseInParent()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create Group</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="triggerConfirmInParent()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <form>
    <ion-item>
      <ion-input
        label="Enter Title"
        labelPlacement="stacked"
        type="text"
        placeholder="Title"
        [(ngModel)]="group.title"
        name="title"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Enter Description"
        labelPlacement="stacked"
        type="text"
        placeholder="Description"
        [(ngModel)]="group.description"
        name="description"
      ></ion-input>
    </ion-item>
    <ion-item>
      
        <ion-select [(ngModel)]="group.users" name="users" aria-label="users" interface="popover" [multiple]="true" placeholder="Select users">
          @for (user of users; track $index) {
            <ion-select-option value="{{ user }}">{{ user }}</ion-select-option>
          }
        </ion-select>
      
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="group.categories" name="categories" aria-label="categories" interface="popover" [multiple]="true" placeholder="Select categories">
        @for (category of categories; track $index) {
          <ion-select-option value="{{ category }}">{{ category }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </form>
  
</ion-content>
