
<ion-content  class="ion-page">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Splitter</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button id="open-add-group-modal" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-modal trigger="open-add-group-modal" (willDismiss)="onWillDismiss($event)" [presentingElement]="presentingElement">
    <ng-template>
      <app-add-group-modal (triggerClose)="cancel()" (triggerConfirm)="confirm()"></app-add-group-modal>
    </ng-template>
  </ion-modal>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="center-text">Hallo {{ usersService.getCurrentUserData()?.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-list [inset]="true">
    @for (group of groupsService.groups; track $index) {
      <ion-item button [routerLink]="['/group-details', group.id]">
        <ion-label>{{ group.title }}</ion-label>
      </ion-item>
    } @empty {
      <ion-item>
        <ion-label>Press the Button to add a new Group</ion-label>
      </ion-item>
    }
  </ion-list>

</ion-content>

