
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mb-auto">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{ groupsService.group?.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ groupsService.group?.description }}
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item>
      <ion-icon aria-hidden="true" name="cash-outline" slot="start"></ion-icon>
      <ion-label>Ausgaben</ion-label>
    </ion-item>



    <ion-item>
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>Statistik</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="code-outline"></ion-icon>
      <ion-label>Ausgleichen</ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>

