<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">

      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mb-auto">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{ groupsService.group?.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ groupsService.group?.description }}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button id="open-add-expanse-modal" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-modal #expanseModal trigger="open-add-expanse-modal" [presentingElement]="presentingElement">
    <ng-template>
      <app-add-expanse-modal (triggerClose)="cancel()" (triggerConfirm)="confirm()"></app-add-expanse-modal>
    </ng-template>
  </ion-modal>

  <ion-list [inset]="true">
    <ion-item button [routerLink]="['/expanses-list', groupId]">
      <ion-icon aria-hidden="true" name="cash-outline" slot="start"></ion-icon>
      <ion-label>Expanses ({{ groupsService.getGroupSum() | currency }})</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/settle']">
      <ion-icon slot="start" name="code-outline"></ion-icon>
      <ion-label>Settle</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label id="open-add-user-to-group-modal" expand="block">Add User</ion-label>
    </ion-item>
    <ion-item (click)="setOpen(true)">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      <ion-label>Delete Group</ion-label>
    </ion-item>
  </ion-list>

  <ion-alert [isOpen]="isAlertOpen" header="Delete group?" subHeader="This cannot be undone." [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"></ion-alert>

  <ion-modal #addUserModal trigger="open-add-user-to-group-modal" (willDismiss)="onWillDismiss($event)"
    [presentingElement]="presentingElement">
    <ng-template>
      <app-add-user-to-group-modal  (triggerClose)="closeAddUserModal()"></app-add-user-to-group-modal>
    </ng-template>
  </ion-modal>

</ion-content>